@media (min-width:860px) 
{ 
body 
{
	font-size:0.7em;
    //font-size: 100%;
    line-height: 1.6875;
    font-family: Georgia;
    

}
//@media (max-width: 640px) { body {font-size:0.45em;} }
//@media (min-width:1500px) { body {font-size:0.8em;} }
//@media (min-width:1800px) { body {font-size:1.2em;} }
//@media (min-width:2100px) { body {font-size:1.5em;} }
#header
{
	width: 97%;
	height: 100px;
	border: 2px solid #cccccc;
	color: #696969;	
	text-align: center;
}
*{       
margin: 0;
padding: 0;
}

#nav{   
height: 45px;
width: 80%;
float: left; 
text-align: right;	
//border: 2px solid #cccccc;
margin-top: 10px;
}
#nav ul{
width: 98%;
//height: 45px;
list-style: none;
//border: 2px solid red;
}

#nav > ul > li{  
 float: left;
 width: 19%;
 position: relative;
 //border: 2px solid green;
} 

#nav li a{
 display: block;
 //background: #90DA93;
            //border: 1px solid #060A13;
 color: #696969;
 padding: 2%;
 
 text-decoration: none; 
}
#nav li a:hover{
 //background: #D3D3D3;
 color: red;
}
.punktMenu
{
   // width: 20%;
	font-size: 1.5em;
	text-align: center; 
	letter-spacing: 3px;
	//border: 2px solid #cccccc;
}

#nav li .second{
 display: none;
 position: absolute;
 top: 100%;
 width: 110%;
 font-size: 0.9em; 
 text-align: left;
 color: black;
 letter-spacing: -1px;
 //background: #E6E6FA;
 background: white;
 opacity: 0.85;
}
#nav li:hover .second{
 display: block;
 //width: 110%;
 color: red;
}

#nav li li{
 width: 99%;
}
#peredMain
{
 width: 98%;
 height: 30px;
}
#main
{
 width: 80%;
 height: 570px;
 background: url(/fon4.jpg) 0 0 repeat;
 //background: url(file:///D:/Vizitka/fon4.jpg) 0 0 repeat; 
 //border: 2px solid #cccccc;
 clear: both;
 //float: right;
 margin: 0 auto;
 color: #696969;
 font-size: 1.5em; 
 padding-left: 10px;
 padding-right: 10px;
 box-shadow:
   inset rgba(0,0,0,.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px;	
}
.titleMain
{
 font-weight: bolt;
}

#opiosanieMain
{
 width: 90%;
 height: 400px;
 //border: 2px solid #cccccc;
 //float: left;
 margin-left: 20px;
}
#mainTelefonEmail
{
 width: 27%;
 height: 65px;
 //border: 2px solid #cccccc;
 float: right;
 //background: black;
 text-align: center;	
 font-size: 1.5em;
 margin-right: 10px;
 box-shadow: 0 3px 5px 3px #575555;
 margin-top: 10px;
 //box-shadow: 0 3px 3px #575555 inset;
 //color: #696969; 
 color: white; 
 background: url(/fon14Black.jpg) 0 0 repeat;
  //background: url(file:///D:/Vizitka/fon14Black.jpg) 0 0 repeat;
  border-radius: 15px;
  line-height: 1.2;
}

#mainTelefon
{
 font-size: 0.8em;
 color: white; 
}
#mainMail
{
 font-size: 0.8em;
 color: white;	
}
h1
{
 text-align: center;
 line-height: 1.3;
 font-size: 1.3em;
}
footer
{
 width: 98%;
 height: 17%;
 text-align: center;	
 //border: 2px solid #cccccc;
 margin-top: 10px; 
}
}
 
 
